<div class="title">
  <h1>Log in</h1>
</div>

<div class="form">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="name">Email</label><br>
    <input id="email" type="email" formControlName="email"><br>

    <label for="name">Password</label><br>
    <input id="password" type="password" formControlName="password"><br>

    <div *ngIf="invalidForm">
      <p class="errorMessage">{{ errorMessage }}</p>
    </div>

    <button type="submit">
      <span *ngIf="!isLoading">Log in</span>
      <mat-spinner diameter="20" *ngIf="isLoading"></mat-spinner>
    </button>
  </form>

  <a routerLink="/auth/signup">Don't have an account?</a>
</div>
