@import '../../../../styles.scss';

h1, label, .form {
  text-align: center;
}

.title {
  margin-top: calc(15px + 3vw);
  margin-bottom: calc(15px + 3vw);
}

h1 {
  font-size: $font-size-h1;
}

input, button {
  margin-top: calc(15px + 1vw);
  margin-bottom: calc(15px + 1vw);
}

button {
  background-color: $confirm-button-color;
  color: white;
}

a {
  font-size: 14px;
  text-decoration: underline;
}

.errorMessage {
  color: red;
}

mat-spinner {
  margin: 0 auto;
}
